.container, .container-fluid{
  
    background-color: lightblue
  }
  
  footer{
    border: 1px black solid;
    border-color: #C0C0C0;
    background-color:#B0C4DE;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    text-align: center;
  }

  cardname{
    font-size: <h6>;
    font-weight: bold;
    color: black;
    margin: 50px;
  }